body {
    background-image:url(landscape.jpg);
    background-size: cover;
    background-repeat: space;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#glass {
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 80vw;
    height: 85vh;
    display: flex;
    justify-content: center;
}

form {
   padding: 30px;
}

.form-label {
    color: black;
    font: caption;
    font-size: 30px;
    padding: 3px;
}


.form-input {
    width: 65vw;
    max-width: 320px;
    height: 35px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
}

.form-btn {
    display: flex;
    justify-content: center;
    max-width: 320px;
}

.title {
    margin-bottom: 5vh;
    font-size: 40px !important;
    font: caption;
    color: black;
    line-break: auto;
}
